@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


/* Then Tailwind directives */
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FF5533;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e64a2e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #FF5533 #f1f1f1;
}